@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

.background {
	height: 100vh;
	width: 100vw;
	background: url('images/content_plain-magazine-xavi-bou-17.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background-image: url('./images/pillar1.jpg');
	border: 5px solid rgb(241, 205, 158);
	border-radius: 10px;
}
.form-container{
	position: absolute;
	z-index: 10;
	color: aliceblue;
	top: 50%;
	left: 50%;
	font-size: 2em;
	transform: translate(-50%, -50%);
	text-align: center;
}
.form-container{
   
    justify-content: space-between;
    align-self: center;
    gap: 0 10px;
    padding: 15px;
    margin-bottom: 3rem;
    }
   

    .form-container input{
        all:unset;
        width:calc(100% - 80px);
        height: 40px;
        padding: 0 20px;
        background-color: rgba(219, 226, 239, 0.5);
        border-radius: 10px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    }
    
    .form-container input::placeholder{
        color:rgb(0, 0, 0);
		font-size:2rem ;
    }
    
    .form-container input:focus{
        outline: 3px solid rgba(255,255,255,0.7);
    }
    

.message {
	position: absolute;
	z-index: 10;
	color: black;
	top: 50%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);
	text-align: center;
}
.messageStyle{
	background: rgba(255, 255, 255, 0.5);
	padding: 30px;

	box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 8px;
	display: block;
	border-radius: 5%;
}
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: rgb(215, 212, 215);

	top: 0;
	left: 0;
	margin: 10px;

}
.score_val {
	color: rgb(196, 82, 192);
	font-weight: bold;

}
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.bird{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}

.footer {
	text-align: center;
	padding: 5px;
	margin-top: 50px;
 position: absolute;
 width: 100%;
 bottom: 0%;
	background-color: rgba(0, 0, 0, 0.525);
}

.footer p {
	margin: 0;
	font-size: 20px;
	color: #ffffff;
}